.bg-box1 {
    background-image: url("../img/box1.png");
    background-size: cover;
    height: 750px;
    width: 100%;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff!important;
}
.navbar-nav {
    margin-left: 23%;
}
a.nav-link {
    margin-left: 1.8rem;
    text-transform: uppercase;
}
.nav-item>a.nav-link:hover {
    text-decoration: underline;
    color: #d9534f !important;
    transition: all 1s;
}
.navbar-light .navbar-toggler {
    background: #fff !important;
}
.title-box1{
    margin-top: 9em;
}
.title-box1>h1{
    font-size: 4em;
    color: #ffffff;
    margin-bottom: 0.5em;
}
.title-box1>h4{
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 2em;
}
.btn{
    padding: .8rem 2rem!important;
    transition: all 1s ease!important;
}

.box2{
    padding: 6rem 0rem 3rem 0rem;
}
.box2-item {
    width: 100%;
    padding-bottom: 4rem;
    text-align: center;
}
.box2-item img{
    margin-bottom: 2rem;
}
.box2-item h4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1rem;
}
.box2-item p{
    text-align: left;
    font-size: 14px;
}
.section-portfolio>.row>.cl{
    padding: 0;
    margin: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.media-body {
    position: absolute;
    top: 0;
    background: rgba(232,69,69,.8);
    height: 100%;
    width: 100%;
    margin: 0;
    transition: all .8s ease;
    opacity: 0;
}
.media-body.text-center {
    padding: 30% 0%;
}
.media-body>.heading{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}
.media-body>.excerpt{
    font-size: 16px;
    color: #FFFFFF;
}

.media-image{
    width: 100%;
    height: 100%;
}
.media-image>a>img{
    width: 100%;
    height: 100%;
}
.mediabg {
    overflow: hidden;
    display: block;
    transform-style: preserve-3d;
}
.mediabg:hover .media-image img {
    transform: scale(1.5) rotateZ(25deg);
    transition: all 1s ease;
}
.mediabg:hover .media-body {
    opacity: 1;
    transition: all 1s ease;
}

.footer{
    background: #3a3e64;
    width: 100%;
    height: 100%;
    padding-top: 70px;
}
.footer .loc,
.social,
.about{
    color: #FFFFFF;

}
.footer .loc h4,
.social h4,
.about h4{
    text-transform: uppercase;
    font-size: 14px;
}
.footer .loc p,
.about p {
    color: #808080;
    font-size: 14px;
}
.social>a{
    font-size: 40px;
    color: #FFFFFF;
}
.social>a:hover{
    color: #d9534f;
    transition: all 1s ease;
}
.footer-bottom{
    background: #313454;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.footer-bottom p{
    color: #808080;
    font-size: 14px;
}
.footer-bottom p>a{
    color: #FFFFFF;
    font-size: 14px;
}
.footer-bottom p>a>i{
    font-size: 26px;
    color: #FFFFFF;
}
.footer-bottom p>a:hover,
.footer-bottom p>a>i:hover{
    color: #d9534f;
    transition: all 1s ease;
}

/*// Extra small devices (portrait phones, less than 576px)*/
/*// No media query since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .title-box1>h1{
        font-size: 2.5em;
    }
    .title-box1{
        margin-top: 4em!important;
    }
    .footer{
        padding-top: 30px;
    }
    .footer .loc{
        margin-bottom: 15px;
    }
    .footer .social{
        margin-bottom: 15px;
    }
    .social>h4{
        margin-bottom: -2px;
    }
    .footer .about{
        margin-bottom: 15px;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .title-box1{
        margin-top: 6em;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
        margin-left: 0!important;
    }
    a.nav-link {
        margin-left: 0;
    }

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
    .navbar-nav {
        margin-left: 9%;
    }

}